.intro-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  animation: none;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.intro-screen.fade-out {
  opacity: 0;
}

.portfolio-title {
  font-size: 4rem;
  color: white;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
